*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
#So we don't accidentally commit our private keys
*.gpg

# Generated native libraries
lau-kmp/src/androidMain/jniLibs/
lau-kmp/src/lib/
lau-kmp/src/jvmMain/resources/
lau-kmp/src/commonMain/
lau-kmp/src/jvmMain/
lau-kmp/src/androidMain/
lau-kmp/src/nativeMain/
